name: pipeline

on: [push, pull_request]

jobs:
  cabal:
    name: AoC
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.REPO_TOKEN }}
          submodules: true

      - name: Setup Haskell
        id: setup
        uses: haskell-actions/setup@v2
        with:
          ghc-version: "9.12"
          cabal-version: "3.16"
          cabal-update: true

      - name: Configure the build
        run: |
          cabal configure --enable-tests --enable-benchmarks --disable-documentation
          cabal build --dry-run

      - name: Restore cached dependencies
        uses: actions/cache/restore@v4
        id: cache
        env:
          key: ${{ runner.os }}-ghc-${{ steps.setup.outputs.ghc-version }}-cabal-${{ steps.setup.outputs.cabal-version }}
        with:
          path: ${{ steps.setup.outputs.cabal-store }}
          key: ${{ env.key }}-plan-${{ hashFiles('**/plan.json') }}
          restore-keys: ${{ env.key }}-

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: cabal build all --only-dependencies

      - name: Save cached dependencies
        uses: actions/cache/save@v4
        if: steps.cache.outputs.cache-hit != 'true'
        with:
          path: ${{ steps.setup.outputs.cabal-store }}
          key: ${{ steps.cache.outputs.cache-primary-key }}

      - name: Formatting
        uses: haskell-actions/run-ormolu@v17
        with:
          pattern: |
            **/*.hs
            !DayXX.hs

      - name: "Set up HLint"
        uses: haskell-actions/hlint-setup@v2
        with:
          version: "3.10"

      - name: "Run HLint"
        uses: haskell-actions/hlint-run@v2
        with:
          path: '["app/", "src/", "test/"]'
          fail-on: warning

      - name: Build
        run: cabal build all

      - name: Test
        run: cabal test all

      - name: Check cabal file
        run: cabal check
